<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head th:replace="layout :: head">
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div class="container-fluid" layout:fragment="page-content">


		<h2>Obras de arte</h2>
		<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
			th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
		</div>

		<a class="btn btn-success mb-2" th:href="@{/artwork/add/}"
			th:method="get"> Agregar </a>

		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Titulo</th>
						<th>Firmado</th>
						<th>Numeracion</th>
						<th>Editor</th>
						<th>Photo</th>
						<th>Acciones</th>

					</tr>
				</thead>

				<tbody>
					<tr th:each="artwork : ${artworkList}">
						<td th:text="${artwork.title}"></td>
						<td th:text="${artwork.signed}"></td>
						<td th:text="${artwork.numeration}"></td>
						<td th:text="${artwork.editor}"></td>
						<td>
							<img
								th:src="@{'data:image/jpeg;base64,'+${artwork.photo}}"
								height="42" width="42" />
						</td>
						<td><a class="btn btn-primary" th:href="@{/artwork/details/} + ${artwork.artworkId} "  th:method="get">
								Detalles <i class="fa fa-list"></i>
						</a> <a class="btn btn-warning"
							th:href="@{/artwork/} + ${artwork.artworkId}" th:method="get">
								Editar <i class="fa fa-edit"></i>
						</a> <a class="btn btn-danger"
							th:href="@{/artwork/delete/} + ${artwork.artworkId}"
							th:method="get"> Eliminar <i class="fa fa-trash"></i>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">

	</th:block>

</body>
</html>